html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Arvo', serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Maven Pro', sans-serif;
    margin: 0px;
    height: 100%;
}

header {
    background-color: rgb(95, 191, 236);
}

.main {
    height: auto;
}

.div-intro {
    height: calc(100vh - 87px);
}

.intro {
    font-size: 24px;
}

.div-list {
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}

.content-fugitive {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: auto;
}

.div-fugitive {
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.div-fugitive:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.content-encode, .content-decode {
    height: calc(100% - 94px);
}

.div-informant, .div-encode, .div-act, .div-decode {
    font-size: 16px;
    height: 500px;
}

.textarea{
    border: 1px solid rgb(153, 153, 153);
    padding-left: 4px;
    margin-bottom: 15px;
}

.padd24{
    padding: 24px;
}

.opacity{
    opacity: 0.6;
}


.center{
    text-align: center;
}

.border-radius{
    border-radius: 4px;;
}

.block{
    display: block;
}

.grid{
    display: grid;
}

.box-shadow{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.box-shadow-hover{
    box-shadow: 0 14px 28px rgba(26, 26, 26, 0.25), 0 10px 10px rgb(34, 34, 34);
}

.icon-small{
    height: 60px;
}

.icon-big{
    height: 190px;
}

.width-all{
    width: 100%;
}

.height-all{
    height: 100%;
}

.center-content{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.bold{
    font-weight: bold;
}

.flex{
    display: flex;
}

.middle-wv{
    width: 50vw;
}

.button{
    background-color: rgb(110, 109, 109);
    border: 1px solid rgb(255, 255, 255);
    height: 36px;
    margin: auto;
}

.pointer{
    cursor: pointer;
}

.outline{
    outline: none;
}

.input-text{
    height: 24px;
    border: 1px solid rgb(153, 153, 153);
    padding-left: 4px;
    float: right;
    width: 50%;
}

.button:hover{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}

img {
    height: 120px;
    padding: 16px;
}

.bg-black{
    background-color: black;
}

.bg-withe{
    background-color: white;
}

.white{
    color: white;
}

.black{
    color: black;
}

.resize-none{
    resize: none;
}

.hidden{
    display: none;
}
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

































